<mat-toolbar fxLayout="row" color="primary" class="header">
    <div fxFlex class="logo">
        <img [src]="logo">
    </div>
    <!-- standard menu -->
    <div fxLayout="row" fxFlex="1 1 100%" fxHide.xs fxLayoutAlign="end" class="links">
        <button mat-button *ngFor="let item of menuItems" [routerLink]="item.link">
            {{item.label}}
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Language">
            {{Languages}}
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let language of locales" (click)="switchLang(language.localCode)">
                <mat-icon>language</mat-icon>
                <span i18n="@@roleKey">{{ language.label }}</span>
            </button>
        </mat-menu>
    </div>

    <!-- mobile menu -->
    <div fxFlex fxHide fxShow.xs fxLayoutAlign="end">
        <button mat-icon-button [matMenuTriggerFor]="dropMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <button mat-menu-item  [routerLink]="item.link">
                    <mat-icon class="mr">{{item.icon}}</mat-icon>
                        {{item.label}}
                </button>
                <mat-divider></mat-divider>
            </ng-container>
            <button mat-menu-item [matMenuTriggerFor]="languages">{{Languages}}</button>
            <mat-menu #languages="matMenu">
                <ng-container *ngFor="let language of locales">
                    <button mat-menu-item (click)="switchLang(language.localCode)">
                        <mat-icon class="mr">language</mat-icon>
                        {{ language.label }}
                    </button>
                </ng-container>
            </mat-menu>
        </mat-menu>
    </div>

</mat-toolbar>
