<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex="60%">My App</div>
    <div fxFlex="10%" aria-label="Home">Home</div>
    <div fxFlex="10%" aria-label="Downloads">Downloads</div>
    <div fxFlex="10%" aria-label="Press Kit">Press Kit</div>
    <div fxFlex="10%" aria-label="Language">Language
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>language</mat-icon>
          <span>English</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>language</mat-icon>
          <span>Espanol</span>
        </button>
        <button mat-menu-item>
          <mat-icon>language</mat-icon>
          <span>Deutsch</span>
        </button>
        <button mat-menu-item>
            <mat-icon>language</mat-icon>
            <span>Polski</span>
        </button>
        <button mat-menu-item>
            <mat-icon>language</mat-icon>
            <span>Esperanto</span>
        </button>
        <button mat-menu-item>
            <mat-icon>language</mat-icon>
            <span>Francaise</span>
          </button>
      </mat-menu>
    </div>
  </mat-toolbar>