<div class="container">
    <div class="hero-background">
        <div class="hero-main">
            <div class="hero-logo"></div>
            <div class="hero-sub">
                <h1>ArQmA a digital currency</h1>
                <h2>Decentralization</h2>
                <h3>Revolution of the monetary system</h3>
                <p>ArQmA is at the heart of the ARQ-Network to empower merchants with fast and secure transactions without any middleman at a very low fee.</p>
                <span>favoring supply soundness and practival privacy</span>
            </div>
        </div>
    </div>
</div>
